<img src="https://i.imgur.com/roB1UmS.jpg" width="800">

In [1]:
import numpy as np
import pandas as pd
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/gdp-per-capita-in-us-states/bea-gdp-by-state.csv

In [2]:
data = pd.read_csv('../input/gdp-per-capita-in-us-states/bea-gdp-by-state.csv')

In [3]:
data.shape

(60, 7)

In [4]:
data.head(60)

     Fips                  Area    2013    2014    2015    2016    2017
0       0         United States   48534   49329   50301   50660   51337
1    1000               Alabama   36674   36473   36818   37158   37508
2    2000                Alaska   69711   67179   65971   63304   63610
3    4000               Arizona   38352   38534   38787   38940   39583
4    5000              Arkansas   35888   36265   36295   36502   36714
5    6000            California   53838   55571   57637   58974   60359
6    8000              Colorado   50523   52105   53007   52863   54026
7    9000           Connecticut   62438   62023   62796   62745   62633
8   10000              Delaware   60738   63555   64809   63578   63955
9   11000  District of Columbia  159264  159369  159530  159141  159607
10  12000               Florida   38018   38466   39334   39608   39842
11  13000               Georgia   42513   43467   44246   45238   45925
12  15000                Hawaii   49484   49591   51052   51964   52869
13  16000                 Idaho   34787   35173   35679   36256   36441
14  17000              Illinois   51919   52984   53709   54308   55102
15  18000               Indiana   43876   44818   44721   45717   46427
16  19000                  Iowa   48034   49688   51379   52248   52284
17  20000                Kansas   45468   46235   46792   47548   47435
18  21000              Kentucky   38259   38336   38419   38736   39277
19  22000             Louisiana   43721   44475   44751   44440   44372
20  23000                 Maine   37508   38149   38415   39125   39521
21  24000              Maryland   53751   54108   54661   55786   56375
22  25000         Massachusetts   61842   62528   64660   65168   66500
23  26000              Michigan   40992   41544   42594   43330   44201
24  27000             Minnesota   52023   53109   53257   54295   54805
25  28000           Mississippi   31952   31635   31714   32334   32447
26  29000              Missouri   42498   42527   42785   42736   43036
27  30000               Montana   38567   39319   40148   40041   39833
28  31000              Nebraska   51597   53109   54048   54660   54654
29  32000                Nevada   43074   43075   44057   44142   44812
30  33000         New Hampshire   48873   49623   51020   51827   52509
31  34000            New Jersey   55659   55563   56196   56428   56776
32  35000            New Mexico   39659   40769   41457   41334   41619
33  36000              New York   62320   63174   64286   64522   65220
34  37000        North Carolina   42909   43400   44180   44194   44706
35  38000          North Dakota   67755   70876   67618   64257   64911
36  39000                  Ohio   45262   46671   47098   47419   48188
37  40000              Oklahoma   43317   45418   46370   44418   44535
38  41000                Oregon   48169   48130   49715   50751   51312
39  42000          Pennsylvania   48289   49228   50489   50978   51841
40  44000          Rhode Island   46367   46663   47519   47662   48314
41  45000        South Carolina   35716   36325   36952   37269   37637
42  46000          South Dakota   47003   47039   47980   48306   48004
43  47000             Tennessee   41513   41858   42902   43720   44348
44  48000                 Texas   52007   52879   54200   53104   53737
45  49000                  Utah   42306   43264   44392   44947   45493
46  50000               Vermont   42989   43222   43605   44354   44831
47  51000              Virginia   51112   50855   51486   51443   52124
48  53000            Washington   54197   55338   56617   57796   59333
49  54000         West Virginia   35772   36017   36233   36155   37353
50  55000             Wisconsin   45895   46456   47268   48063   48666
51  56000               Wyoming   60806   60853   61304   59327   61091
52  91000           New England   56689   57068   58477   58882   59637
53  92000               Mideast   57659   58353   59364   59756   60421
54  93000           Great Lakes   46076   47035   47644   48276   49034
55  94000                Plains   48092   49005   49473   49919   50145
56  95000             Southeast   40543   40910   41547   41867   42300
57  96000             Southwest   48205   49119   50214   49320   49902
58  97000        Rocky Mountain   45634   46727   47610   47653   48398
59  98000              Far West   53029   54362   56166   57319   58589

In [5]:
data.describe()

,Fips,2013,2014,2015,2016,2017
count,60.000000,60.000000,60.000000,60.000000,60.000000,60.000000
mean,37216.666667,49327.750000,49982.316667,50695.900000,50880.183333,51441.066667
std,27211.719600,16709.083832,16709.138828,16649.753721,16454.119857,16520.084703
min,0.000000,31952.000000,31635.000000,31714.000000,32334.000000,32447.000000
25%,17750.000000,42107.750000,42359.750000,42872.750000,43622.500000,44311.250000
50%,32500.000000,46685.000000,47037.000000,47812.000000,48291.000000,48850.000000
75%,48250.000000,52274.500000,53358.750000,54315.250000,54941.500000,55420.250000
max,98000.000000,159264.000000,159369.000000,159530.000000,159141.000000,159607.000000

**GDP per capita in the US (average)**

<img src="https://i.imgur.com/QpFjGEB.png" width="1000">

**GDP per capita in 2017 (descending order)**

<img src="https://i.imgur.com/rmH2gtH.png" width="1000">

**Median GDP per capita in 2013**

<img src="https://i.imgur.com/LJpq03O.png" width="1000">

**GDP per capita in 2017**

<img src="https://i.imgur.com/rMefihP.png" width="1000">

**The overall growth of GDP per capita in the US (2013-2017)**

<img src="https://i.imgur.com/Ah6nsvs.png" width="1000">

**GDP per capita in the Southwest area**

<img src="https://i.imgur.com/S3A4O8d.png" width="1000">

**GDP per capita by state (MAX) in 2016**

<img src="https://i.imgur.com/MYGuvD4.png" width="1000">

**GDP per capita in 2013 with the Average Line**

<img src="https://i.imgur.com/ECso5uI.png" width="1000">

**GDP per capita (2013) compared between regions**

<img src="https://i.imgur.com/wxKyRbZ.png" width="1000">

**GDP per capita (2014) compared between regions**

<img src="https://i.imgur.com/EYCZ6KF.png" width="1000">

**Average GDP per capita compared between regions in 2015**

<img src="https://i.imgur.com/cF1itu9.png" width="1000">

**GDP per capita compared between regions in 2016**

<img src="https://i.imgur.com/XNWdPJI.png" width="1000">

**Information about GDP per capita by region in 2017**

<img src="https://i.imgur.com/EDUTRrJ.png" width="1000">

**GDP per capita in some states (2017)**

<img src="https://i.imgur.com/c5hBYVC.png" width="1000">

**GDP per capita (MIN) in Arizona, Mississippi, Florida, Georgia and Texas in 2013-2017**

<img src="https://i.imgur.com/LCfTewe.png" width="1000">